<mat-toolbar>
  <mat-toolbar-row>
    <span>Authors</span>
    <div style="display: flex; justify-content: end">
      <button mat-icon-button color="primary" (click)="showAuthorUpdateDialog()" matTooltip="Add New Author">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card *ngIf="!isLoading && (!authors || authors.length === 0)">
  <mat-card-content>
    <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
      <span>No data available</span>
    </div>
  </mat-card-content>
</mat-card>

<div class="scrollable-content">
  <div style="display: flex; justify-content: center; align-items: center" *ngIf="isLoading">
    <mat-spinner diameter="70" strokeWidth="2"></mat-spinner>
  </div>

  <mat-table [dataSource]="authors" *ngIf="authors && authors.length > 0">
    <!--Id-->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="id"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef>Profile</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="avatar">
        <img *ngIf="element.profileImage" [src]="element.profileImage" alt="avatar"
             style="width: 50px; height: 50px; border-radius: 50%">
        <img *ngIf="element.profileImage === null" src="assets/avatar.jpg" alt="avatar"
             style="width: 50px; height: 50px; border-radius: 50%"/>

      </mat-cell>
    </ng-container>


    <!--Name-->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="name"> {{element.name}}</mat-cell>
    </ng-container>

    <!--Surname-->
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef>Surname</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="surname"> {{element.surname}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" style="display: flex; justify-content: end">
        <div class="btn-group flex-btn-group-container">
          <button class="mat-primary" mat-icon-button (click)="showAuthorUpdateDialog(element)"
                  matTooltip="Edit Item">
            <mat-icon fontIcon="edit" color="primary"></mat-icon>
          </button>

          <button class="mat-primary" mat-icon-button (click)="delete(element)" matTooltip="Delete">
            <mat-icon fontIcon="delete" color="warn"></mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
