<div class="scrollable-content">
  <mat-table [dataSource]="dataSource" *ngIf="dataSource && dataSource.length > 0">
    <!--Id-->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="id">{{element.id}} </mat-cell>
    </ng-container>

    <!--Cover Image-->
    <ng-container matColumnDef="coverImage">
      <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: center">Cover Image</mat-header-cell>
      <mat-cell *matCellDef="let element" style="display: flex; justify-content: center" data-label="coverImage">
        <img *ngIf="element.coverImageUrl" [src]="element.coverImageUrl" alt="coverImageUrl"
             style="width: 50px; height: 50px;border-radius: 10%; object-fit: cover">
        <img *ngIf="!element.coverImageUrl" src="assets/book.png" alt="coverImageUrl"
             style="width: 50px; height: 50px; border-radius: 10%"/>
      </mat-cell>
    </ng-container>

    <!--Title-->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="title">{{element.title}} </mat-cell>
    </ng-container>

    <!--Author-->
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="author">
        {{element?.author?.name || element?.author?.surname ? element?.author?.name + '     ' + element?.author?.surname : ''}}
      </mat-cell>
    </ng-container>

    <!--Category-->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="category">{{element.category.name}}</mat-cell>
    </ng-container>

    <!--Action-->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" style="display: flex; justify-content: end">
        <div class="btn-group flex-btn-group-container">
          <button class="mat-primary" mat-icon-button (click)="editClick.emit(element)"
                  matTooltip="Edit Item">
            <mat-icon fontIcon="edit" color="primary"></mat-icon>
          </button>

          <button class="mat-primary" mat-icon-button [routerLink]="['/book', element.id, 'detail']"
                  matTooltip="View Item">
            <mat-icon fontIcon="remove_red_eye" color="accent"></mat-icon>
          </button>

          <button class="mat-primary" mat-icon-button (click)="deleteClick.emit(element)" matTooltip="Delete">
            <mat-icon fontIcon="delete" color="warn"></mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
