<mat-toolbar>
  <mat-toolbar-row>
    <span>Books</span>
    <div style="display: flex; justify-content: end">
      <button mat-icon-button color="primary" (click)="showBookUpdateDialog()" matTooltip="Add New Book">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="searchForm">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option [value]="null"></mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<mat-card *ngIf="!isLoading && (!books || books.length === 0)">
  <mat-card-content>
    <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
      <span>No data available</span>
    </div>
  </mat-card-content>
</mat-card>

<div class="col-12 col-lg-12">
  <button mat-icon-button color="primary" (click)="toggleView()">
    <mat-icon>{{ currentView === 'card' ? 'table_chart' : 'view_module' }}</mat-icon>
  </button>

  <div style="display: flex; justify-content: center; align-items: center" *ngIf="isLoading">
    <mat-spinner diameter="70" strokeWidth="2"></mat-spinner>
  </div>


  <app-card-view *ngIf="!isLoading && currentView === 'card'" [dataSource]="books" (deleteClick)="delete($event)"
                 (editClick)="showBookUpdateDialog($event)"></app-card-view>

  <app-table-view *ngIf="!isLoading && currentView === 'table'" [dataSource]="books" (deleteClick)="delete($event)"
                  (editClick)="showBookUpdateDialog($event)"></app-table-view>
  <!--<div class="scrollable-content">-->
  <!--    <div style="display: flex; justify-content: center; align-items: center" *ngIf="isLoading">-->
  <!--        <mat-spinner diameter="70" strokeWidth="2"></mat-spinner>-->
  <!--    </div>-->

  <!--    <table mat-table [dataSource]="books" *ngIf="books && books.length > 0">-->
  <!--        &lt;!&ndash;Id&ndash;&gt;-->
  <!--        <ng-container matColumnDef="id">-->
  <!--            <th mat-header-cell *matHeaderCellDef> ID</th>-->
  <!--            <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
  <!--        </ng-container>-->

  <!--        &lt;!&ndash;Cover Image&ndash;&gt;-->
  <!--        <ng-container matColumnDef="coverImage">-->
  <!--            <th mat-header-cell *matHeaderCellDef>Cover Image</th>-->
  <!--            <td mat-cell *matCellDef="let element">-->
  <!--                <img *ngIf="element.coverImageUrl" [src]="element.coverImageUrl" alt="coverImageUrl"-->
  <!--                     style="width: 50px; height: 50px;border-radius: 10%">-->
  <!--                <img *ngIf="element.coverImageUrl === null" src="assets/book.png" alt="coverImageUrl"-->
  <!--                     style="width: 50px; height: 50px; border-radius: 10%"/>-->
  <!--            </td>-->
  <!--        </ng-container>-->

  <!--        &lt;!&ndash;Title&ndash;&gt;-->
  <!--        <ng-container matColumnDef="title">-->
  <!--            <th mat-header-cell *matHeaderCellDef>Title</th>-->
  <!--            <td mat-cell *matCellDef="let element"> {{element.title}} </td>-->
  <!--        </ng-container>-->

  <!--        &lt;!&ndash;Author&ndash;&gt;-->
  <!--        <ng-container matColumnDef="author">-->
  <!--            <th mat-header-cell *matHeaderCellDef>Author</th>-->
  <!--            <td mat-cell *matCellDef="let element">-->
  <!--                {{element?.author?.name ? element?.author?.name : '' + '     ' + element?.author?.surname ? element?.author?.surname : ''}}-->
  <!--            </td>-->
  <!--        </ng-container>-->

  <!--        &lt;!&ndash;Category&ndash;&gt;-->
  <!--        <ng-container matColumnDef="category">-->
  <!--            <th mat-header-cell *matHeaderCellDef>Category</th>-->
  <!--            <td mat-cell *matCellDef="let element">{{element.category.name}}</td>-->
  <!--        </ng-container>-->

  <!--        &lt;!&ndash;Action&ndash;&gt;-->
  <!--        <ng-container matColumnDef="actions">-->
  <!--            <mat-header-cell *matHeaderCellDef></mat-header-cell>-->
  <!--            <mat-cell *matCellDef="let element" style="display: flex; justify-content: end">-->
  <!--                <div class="btn-group flex-btn-group-container">-->
  <!--                    <button class="mat-primary" mat-icon-button (click)="showBookUpdateDialog(element)"-->
  <!--                            matTooltip="Edit Item">-->
  <!--                        <mat-icon fontIcon="edit" color="primary"></mat-icon>-->
  <!--                    </button>-->

  <!--                    <button class="mat-primary" mat-icon-button [routerLink]="['/book', element.id, 'detail']"-->
  <!--                            matTooltip="View Item">-->
  <!--                        <mat-icon fontIcon="remove_red_eye" color="accent"></mat-icon>-->
  <!--                    </button>-->

  <!--                    <button class="mat-primary" mat-icon-button (click)="delete(element)" matTooltip="Delete">-->
  <!--                        <mat-icon fontIcon="delete" color="warn"></mat-icon>-->
  <!--                    </button>-->
  <!--                </div>-->
  <!--            </mat-cell>-->
  <!--        </ng-container>-->

  <!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
  <!--    </table>-->
  <!--</div>-->


  <!--<div class="book-card-container">-->
  <!--  <mat-card *ngFor="let book of books" class="book-card">-->
  <!--    <img mat-card-image [src]="book.coverImageUrl" alt="{{ book.title }} Cover" class="book-cover-img">-->
  <!--    <mat-card-content>-->
  <!--      <h3>{{ book.title }}</h3>-->
  <!--      <p *ngIf="book.author?.id">By {{ book.author?.name + ' ' + book.author?.surname }}</p>-->
  <!--    </mat-card-content>-->

  <!--    <mat-card-actions style="display: flex; justify-content: end">-->
  <!--      <button mat-button color="warn" (click)="delete(book)">Delete</button>-->
  <!--      <button mat-button color="primary" (click)="showBookUpdateDialog(book)">Edit</button>-->
  <!--    </mat-card-actions>-->
  <!--  </mat-card>-->
  <!--</div>-->
  <!--</div>-->


  <div style="display: flex; justify-content: end">
    <mat-paginator
      (page)="setPageOpts($event)"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
