<mat-toolbar>
  <mat-toolbar-row>
    <span>Books</span>
    <div style="display: flex; justify-content: end">
      <button mat-icon-button color="primary" (click)="showBookUpdateDialog()" matTooltip="Add New Book">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="searchForm">
  <form [formGroup]="searchForm" *ngIf="searchForm">
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option [value]="null"></mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<mat-card *ngIf="!isLoading && (!books || books.length === 0)">
  <mat-card-content>
    <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
      <span>No data available</span>
    </div>
  </mat-card-content>
</mat-card>

<div class="col-12 col-lg-12">
  <button mat-icon-button color="primary" (click)="toggleView()">
    <mat-icon>{{ currentView === 'card' ? 'table_chart' : 'view_module' }}</mat-icon>
  </button>

  <div style="display: flex; justify-content: center; align-items: center" *ngIf="isLoading">
    <mat-spinner diameter="70" strokeWidth="2"></mat-spinner>
  </div>


  <app-card-view *ngIf="!isLoading && currentView === 'card'" [dataSource]="books" (deleteClick)="delete($event)"
                 (editClick)="showBookUpdateDialog($event)"></app-card-view>

  <app-table-view *ngIf="!isLoading && currentView === 'table'" [dataSource]="books" (deleteClick)="delete($event)"
                  (editClick)="showBookUpdateDialog($event)"></app-table-view>

  <div style="display: flex; justify-content: end">
    <mat-paginator
      (page)="setPageOpts($event)"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
