.scrollable-content {
  overflow: auto;
}

.spacer {
  flex: 1 1 auto;
}

:host ::ng-deep {
  mat-toolbar {
    background-color: #fff;
  }

  mat-toolbar-row {
    justify-content: space-between;
  }
}

.searchForm {
  padding: 10px 25px 0 25px;
}


