body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 45vw;
  height: 94vh;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  //justify-content: start;
}

.cover img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* Add the hover effect */
.cover:hover img {
  transform: scale(1.05); /* Scale the image by 5% on hover */
}

.author {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.description {
  font-size: 18px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  line-height: 1.6;
  color: #555;
}

/* Add styles for the "Back to List" button */
.back-button {
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  padding: 10px 15px; /* Add padding for the button */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-button i {
  margin-right: 5px; /* Add space between the icon and text */
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 90vw;
    height: auto;
  }

  .cover img {
    width: 100%; /* Make the image fill the card's width in responsive mode */
    max-width: none; /* Remove the max-width constraint */
  }

  .author {
    margin-top: 15px;
  }

  .back-button {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 10px;
  }
}
