<div class="container">
  <button mat-icon-button color="primary" class="back-button" routerLink="/book">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="cover">
        <img *ngIf="book?.coverImageUrl" [src]="book?.coverImageUrl" alt="Book Cover">
        <img *ngIf="!book?.coverImageUrl" src="assets/book.png" alt="Book Cover">
      </mat-card>
    </div>
    <div class="col-md-8">
      <div class="author">
        <img *ngIf="book?.author?.profileImage" [src]="book?.author?.profileImage"
             style="width: 50px; height: 50px; border-radius: 50%;" alt="Author Image">
        {{ book?.author?.name || book?.author?.surname ? book?.author?.name + ' ' + book?.author?.surname : 'Author Name'}}
      </div>
      <div class="title">
        {{ book?.title || 'Book Title' }}
      </div>
      <div class="category">
        <span>Category:</span>
        {{ book?.category?.name || 'Uncategorized' }}
      </div>
      <div class="category-description">
        {{ book?.category?.description || 'No category description available.' }}
      </div>
      <div class="description">
        <div *ngIf="book?.description">
          <div [innerHTML]="book?.description"></div>
        </div>
        <div *ngIf="!book?.description">
          Step into a realm where the boundaries of reality blur and the extraordinary becomes the norm. "The Chronicles
          of Unknown Realms" is a literary masterpiece that defies conventional categorization. Written by an enigmatic
          author known only as the Anonymous Wordsmith, this epic tale takes readers on a journey through uncharted
          territories of the imagination.
          <br>
          <br>
          In a world where the conventional rules of publishing have been transcended, the publication date remains a
          mystery, much like the book's reclusive author. Enigma Publishing House, known for its penchant for the
          mysterious and the extraordinary, has brought this unparalleled work to light, leaving readers with more
          questions than answers.
        </div>
      </div>
    </div>
  </div>
</div>
