/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


//Responsive Table
@media screen and (max-width: 960px) {
  .mat-mdc-table {
    border: 0;
    vertical-align: middle
  }

  .mat-mdc-table caption {
    font-size: 1em;
  }

  .mat-mdc-table .mat-mdc-header-cell {
    flex-direction: column;
    align-items: start;
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-mdc-table .mat-mdc-row {
    border-bottom: 5px solid #ddd;
    display: flex;
  }


  .mat-mdc-table .mat-mdc-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
  }
  .mat-mdc-header-row {
    display: none;
  }

  .mat-mdc-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .mat-mdc-table .mat-mdc-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .85em;
  }
  .mat-mdc-table .mat-mdc-cell:last-child {
    border-bottom: 0;
  }
  .mat-mdc-table .mat-mdc-cell:first-child {
    margin-top: 4%;
  }
}
